<tr class="border-b {% if todo.completed %}line-through text-gray-500{% endif %}">
    <td class="px-4 py-2">
        <input type="checkbox" 
               {% if todo.completed %}checked{% endif %}
               hx-post="{% url 'todo:toggle_todo' todo.pk %}"
               hx-swap="outerHTML"
               class="checkbox">
    </td>
    <td class="px-4 py-2">{{ todo.title }}</td>
    <td class="px-4 py-2">
        <button hx-post="{% url 'todo:delete_todo' todo.pk %}"
                hx-include="this"
                hx-target="closest tr"
                hx-swap="outerHTML"
                class="btn btn-error btn-sm">Delete</button>
    </td>
</tr>
